/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[9].use[5]!./src/components/grid/grid.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.grid_container__DF_RC {
  max-width: 1200px;
  position: relative;
  margin: -16px auto 0 auto;
  padding-bottom: 80px;
}
@media (max-width: 1200px) {
  .grid_container__DF_RC {
    max-width: 1000px;
  }
}
@media (max-width: 799px) {
  .grid_container__DF_RC {
    max-width: 575px;
  }
}
.grid_itemGrab__bzV7a {
  overflow: hidden;
  border-radius: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.grid_itemGrab__bzV7a:hover {
  cursor: grab;
}
.grid_itemGrab__bzV7a:active {
  cursor: grabbing;
}

.grid_item__U7rPn {
  transition: 1.25s ease;
}
.grid_item__U7rPn:hover {
  box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 24px 0px;
}
